<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Status</title>
    <style>
        .odd-row {
            background-color: pink;
        }
        .even-row {
            background-color: cyan;
        }
    </style>
</head>
<body>
    <table border="1" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th rowspan="2">HỌ VÀ TÊN</th>
                <th colspan="6">CÁC THUỘC TÍNH TRẠNG THÁI</th>
            </tr>
            <tr>
                <th>Index</th>
                <th>Count</th>
                <th>First</th>
                <th>Last</th>
                <th>Odd</th>
                <th>Even</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="st, stat : ${list}">
                <tr th:class="${stat.odd} ? 'odd-row' : 'even-row'">
                    <td th:text="${#strings.capitalizeWords(st.fullname)}"></td>
                    <td th:text="${stat.index}"></td>
                    <td th:text="${stat.count}"></td>
                    <td th:text="${stat.first}"></td>
                    <td th:text="${stat.last}"></td>
                    <td th:text="${stat.odd}"></td>
                    <td th:text="${stat.even}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
